@import "../lib/tokens.scss";

html {
    background: $color-background-dark;
    color: $color-font;

    // prettify fonts: https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font-paragraph;
    font-size: 1.05rem;

    &.max-width-content, .max-width-content {
        padding: 0 40px;
        max-width: 1080px;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 60px;
        align-items: start;

        main {
            grid-column: 1;
            margin-top: 7em;
        }

        aside {
            margin-top: 7em;
        }

        @media #{$breakpoint-mobile} {
            grid-gap: 8px;

            main {
                grid-column: 1 / span 2;
            }
            aside {
                margin-top: 2em;
                grid-row: 2;
            }
        }
    }

    article {
        h1 {
            margin-bottom: 0.25em;
        }

        time {
            opacity: 0.8;
        }
    }
}

footer {
    padding: 1em 0 0 0.5em;
}

h1 {
    font-family: $font-heading;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: $font-heading;
}

p {
    line-height: 1.5;
}

a {
    color: $color-primary;
    text-decoration: none;

    &:hover, &:focus {
        color: $color-secondary;
    }
}

.sticky-top {
    position: sticky;
    top: 0;
}