@import "../tokens.scss";

html {
    background: $color-background-dark;
    box-sizing: border-box;
    color: $color-font;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {     
    font-family: $font-paragraph;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

a {
    color: $color-primary;

    &:hover, &:focus {
        color: $color-secondary;
    }
}

main {
    margin-top: 7em;
}