{{ define "main" }}
<div class="portfolio-slides" style="--aspect-ratio: 960/569;">
	<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTnBiYX3EFSW4ELglNwJN96KPiyj7eunaMvc9XEfRAgrIFQBQZiW-1BDRCI8XxXDcscG6CUOVIWNork/embed?start=false&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
<div class="portfolio-list">
	{{ partial "list-filter-header.html" . }}
	<main>
		{{ range (.Paginator 9).Pages }}
		{{ .Render "summary" }}
		{{ end }}
	</main>
	{{ partial "pagination.html" . }}
	{{ partial "sidebar.html" . }}
</div>
{{ end }}