@import "../lib/tokens.scss";

header {
    background-color: $color-header-background;
    @include elevation(4);
    position: fixed;
    z-index: $elevation-header;
    top: 0;
    left: 0;
    width: 100%;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;

        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }


    .logo-nav {
        img {
            width: 4.5em;
            height: auto;
            margin: 0 0.45em 0 0.2em;
        }
    }

    .site-title {
        font-family: $font-heading;
        color: $color-font-dark;
        font-weight: 700;
        font-size: 1.7rem;
        letter-spacing: 0.018rem;
        padding-left: 0.15em;
    }

    nav {
        width: 100%;
        padding-right: 1em;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            list-style: none;
            margin: 0;
            margin-left: -0.15em;
            padding: 0;
        }

        li {
            display: inline-block;
            padding: 0.45em;

            a {
                font-family: $font-heading;
                font-weight: 400;
                font-size: 1.5em;
                letter-spacing: 0.024rem;
                text-transform: uppercase;
                color: $color-font;

                &:hover {
                    text-decoration: underline;
                    color: $color-font;
                }
            }

            &:last-child {
                float: right;
                padding-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 556px) {
    .hide-when-small {
        display: none;
    }
}

@media screen and (max-width: 456px) {
    header nav li a {
        font-size: 1.2em;
    }
}