$imgwidth: 200px;

@mixin non-grid-sidebar {
    .profile {
        img {
            max-width: $imgwidth;
            width: 40%;

            display: block;
            float: left;
            margin-right: 0.87em;
        }

        .info {
            text-align: left;
            display: inline-block;

            h1 {
                padding-top: 0.4em;
            }
        }
    }
}

.profile {
    img {
        border-radius: 50%;
        width: 100%;
        height: auto;

        // fallback for non-grid browsers
        max-width: $imgwidth;
        @supports (display: grid) {
            max-width: unset;
        }
    }

    .info {
        text-align: center;
        & > * {
            margin: 8px 0;
        }
        .name {
            font-size: 2em;
            font-weight: 600;
            margin: 8px 0 4px 0;
            line-height: 1;
        }
        .username {
            margin: 4px 0 12px 0;
            font-weight: 600;
            line-height: 1;
        }
        .job, .company, .company-subtitle {
            margin: 2px 0;
        }
    }
}

// smaller screensizes need a float-style layout
@media #{$breakpoint-mobile} {
    @include non-grid-sidebar();
}

// override grid styles for non-grid layouts
.portfolio-list {
    @include non-grid-sidebar();
}
