@import "../lib/tokens.scss";

#talks-page {
  @include max-width-layout();
  margin-top: 9em;

  h1 {
    margin-bottom: 0;
  }

  .description {
    font-style: italic;
  }

  .inner {
    h1 {
      font-size: 1.75em;
    }
  }

  [style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {  
    height: auto;
  } 
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }  
  }
}