{{ define "main" }}
<div class="max-width-content single">
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<time>{{ .Date.Format "January 2006" }}</time>
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main>
	<div class="sticky-top">
		{{ partial "sidebar.html" . }}
	</div>
</div>
{{ end }}